* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --logo-font: 'Bebas Neue';
  --logo-color: rgba(228, 8, 20, 255);
  --background-color: rgba(20, 20, 20, 255);
  --text-font: 'Source Sans Pro';
  --swiper-theme-color: #ffffff;
  --swiper-navigation-size: 2.75rem;
}

body {
  background-color: var(--background-color);
  margin-left: 4rem;
  margin-right: 4rem;
}

h1 {
  font-family: var(--text-font);
}

header {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 2;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  height: auto;
}

header .img {
  height: 2rem;
  width: 2rem;
  border-radius: 10%;
  right: 0;
  cursor: pointer;
  margin-right: 8rem;
}

.profile-menu {
  transition: 0.5s;
  background-color: var(--background-color);
  padding: 1rem;
  position: fixed;
  height: 10rem;
  width: 10rem;
  margin-right: 4rem;
  right: 4rem;
  top: -15rem;
  border-radius: 0 0 5% 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  z-index: 3;
}

.profile-menu.show {
  transition: 0.5s;
  background-color: var(--background-color);
  padding: 1rem;
  position: fixed;
  height: 15rem;
  width: 10rem;
  right: 4rem;
  top: 0.1rem;
  margin-right: 4rem;
  border-radius: 0 0 5% 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  z-index: 3;
}

.profile-menu .img {
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
  cursor: pointer;
}

.profile-menu h1 {
  color: white;
  font-size: 1.2rem;
}

.string {
  background-color: var(--background-color);
  height: 1rem;
  width: 93.5%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.arrow {
  width: 0rem;
  height: 0rem;
  z-index: 15;
  position: fixed;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgb(184, 184, 184);
  top: 2.5rem;
  right: 6.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.arrow.up {
  transition: 0.3s;
  transform: rotate(-180deg);
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main .movies {
  margin-top: 6rem;
}

section h1 {
  font: 600 2rem var(--text-font);
  color: white;
}

.swiper-container {
  margin-top: 3rem;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--background-color);
  width: 2.5rem;
  height: 15rem;
  top: 1rem;
  opacity: 30%;
  transition: 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transition: 0.2s;
  opacity: 70%;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-slide {
  transition: 0.2s;
}

.swiper-slide img {
  border-radius: 5%;
}

.swiper-slide:hover {
  transition: 0.2s;
  transform: scale(1.2);
  z-index: 10;
  cursor: pointer;
  transition-delay: 0.5s;
}

.swiper-container {
  padding: 1.25rem 0;
}
